<% content_for(:title) do %>
  Log in
<% end %>

<%= form_with(model: resource, as: resource_name, url: session_path(resource_name), builder: DeviseFormBuilder, class: 'space-y-6') do |f| %>
  <div>
    <%= f.label :email %>
    <div class="mt-1">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div>

  <div>
    <%= f.label :password %>
    <div class="mt-1">
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
  </div>

  <div class="flex items-center justify-between">
    <% if devise_mapping.rememberable? %>
      <div class="flex items-center">
        <%= f.check_box :remember_me %>
        <label for="user_remember_me" class="ml-2 block text-sm text-gray-900">
          Remember me
        </label>
      </div>
    <% end %>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <div class="text-sm">
        <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'font-medium text-blue-600 hover:text-blue-500' %><br />
      </div>
    <% end %>
  </div>

  <div>
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
