<title>
  <% if yield(:page_title).present? %>
    <%= yield(:page_title) %> -
  <% end %>
  <%= t('.site_title') %>
</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= vite_client_tag %>

<%= vite_javascript_tag 'application', 'data-turbo-track': 'reload' %>
<%= vite_stylesheet_tag 'application.css', 'data-turbo-track': 'reload' %>
