<!DOCTYPE html>
<html>
  <head>
    <title>WebAuthn with Devise</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= vite_javascript_tag 'application' %>
    <%= vite_stylesheet_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
